@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ***Custom Properties *** */
:root {
	/* Colors */
	--primary-color: rgb(255, 99, 71);
	--primary-text: rgb(253, 253, 253);
	--bg-color-primary: rgb(34, 34, 34);
	--bg-color-secondary: rgba(0, 0, 0, 0.8);
	--bg-color-third: rgb(51, 51, 51);
	--black-color: rgb(0, 0, 0);
	--white-color: rgb(255, 255, 255);

	/* Fonts */
	--font-primary: 'Roboto', Arial, Helvetica, sans-serif;
	--font-secondary: 'Press Start 2P', Arial, Helvetica, sans-serif;
	--light: 400;
	--medium: 500;
	--bold: 700;

	/* Sizes */
	--max-width: 1200px;
	--header-height: 70px;
}

/* ***Reset *** */
html {
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	text-decoration: none;
	list-style: none;
	font-family: var(--font-primary);
}

body {
	width: 100%;
	font-family: var(--font-primary);
	overflow-x: hidden;
	color: var(--primary-text);
	background-color: var(--bg-color-primary);
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: var(--bg-color-secondary);
}

.logo {
	flex: 1;
}

nav ul {
	display: none;
	flex-direction: column;
	list-style: none;
}

nav li {
	margin: 0.5rem 0;
}

nav a {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: var(--first-text);
}
nav a:hover {
	font-weight: var(--bold);
	color: var(--primary-color);
}

/* Burger menu */
.menu-btn {
	width: 70px;
	height: 70px;
	display: block;
	position: relative;
	text-align: center;
	font-size: 2.5rem;
	line-height: 70px;
	cursor: pointer;
}

.menu-toggle {
	display: none;
}
button .menu-btn {
	opacity: 0;
}

.menu-toggle:checked + .menu-btn + ul {
	width: 100%;
	position: absolute;
	top: var(--header-height);
	left: 0;
	display: flex;
	text-align: center;
	z-index: 999;
	background-color: var(--bg-color-secondary);
}

/* Hero Section */
#hero {
	background-image: url(assets/img/hero-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* background-attachment: fixed; */
}
.hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 70px 20px;
	text-align: center;

	background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
	width: 90%;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-content h1 {
	margin-bottom: 20px;
	line-height: normal;
	font-size: 7.5vw;
	font-family: var(--font-primary);
}

.hero-content a {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	color: var(--primary-text);
	background-color: var(--bg-color-secondary);
}
/* About Us Section */
#about {
	padding: 50px 20px;
	text-align: center;
}

.about-content {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	color: var(--white-color);
}

.about-content h2 {
	margin-bottom: 20px;
	font-size: 2rem;
	font-family: var(--font-secondary);
}

.about-content p {
	margin-bottom: 20px;
	font-size: 1rem;
	line-height: 1.5;
}

.about-content ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-content ul li {
	margin: 10px;
	text-align: center;
}

/* Products Section*/
#products {
	padding: 50px 20px;
	text-align: center;
}

.cards-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	width: 100%;
	margin: 15px 0;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	color: var(--white-color);
	background-color: var(--bg-color-secondary);
}

.card img {
	width: 100%;
	max-width: 400px;
	height: auto;
	margin-bottom: 10px;
	object-fit: cover;
}

.card h3 {
	margin-bottom: 5px;
	font-size: 1.2rem;
	font-family: var(--font-secondary);
}

.card p {
	margin: 15px;
	font-size: 1.3rem;
	font-weight: bold;
}

.card-btn {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	color: var(--white-color);
	background-color: var(--primary-color);
}
.card-btn:hover {
	color: var(--primary-color);
	background-color: var(--bg-color-secondary);
}

/* Contact Section */
#contact {
	padding: 50px 20px;
	text-align: center;
}

.contact-container {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group {
	margin: 10px 0;
	text-align: left;
}

label {
	font-weight: bold;
}

input[type='text'],
input[type='email'],
textarea {
	width: 100%;
	padding: 8px;
	margin-top: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	width: 200px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 1rem;
	border-radius: 0.5rem;
	border: 1px solid transparent;
	font-weight: bold;
	color: var(--white-color);
	background-color: var(--bg-color-sedondary);
}

button:hover {
	background-color: var(--first-color);
}
.contact-info {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.contact-info p {
	margin-bottom: 10px;
	font-size: 1rem;
}
.responsive-iframe-container {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
	height: 0; /* Remove height so that padding-top determines the height */
}
.responsive-iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/* Footer */
.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	text-align: center;
	background-color: var(--bg-color-third);
}

.container-social-and-copy {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 20px 10px 20px 10px;
}

.social-media-icon {
	display: flex;
	gap: 10px;
	padding: 5px 20px 10px 0px;
}
.social-media-icon a {
	filter: invert(1);
}

.row-copyright {
	padding: 10px;
	font-weight: 600;
	color: var(--white-color);
}
.row-copyright span {
	font-weight: 900;
}

/* Media Queries para Tablets */
@media (min-width: 768px) {
	nav ul {
		display: flex;
		flex-direction: row; /* Fila en tablet */
	}

	nav li {
		margin: 0 1rem; /* Menos espaciado en tablet */
	}

	.menu-btn {
		display: none;
	}

	.hero-content h1 {
		font-size: 2.5rem;
	}

	.about-content ul {
		flex-direction: row;
	}

	.product-cards {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.card {
		width: 45%;
	}

	.contact-info {
		text-align: left;
	}
	/* footer */
	.container-social-and-copy {
		flex-direction: row;
		align-items: center;
	}
}
/* Media Queries para Desktop */
@media (min-width: 1024px) {
	.hero-content h1 {
		font-size: 3rem;
	}

	.card {
		width: 30%;
	}
}
