@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* -> Custom Properties */
:root {
	/* Colors */
	--primary-color: rgb(255, 99, 71);
	--primary-text: rgb(253, 253, 253);
	--bg-color-primary: rgb(34, 34, 34);
	--bg-color-secondary: rgba(0, 0, 0, 0.8);
	--bg-color-third: rgb(51, 51, 51);
	--black-color: rgb(0, 0, 0);
	--white-color: rgb(255, 255, 255);

	/* Fonts */
	--font-primary: 'Roboto', Arial, Helvetica, sans-serif;
	--font-secondary: 'Press Start 2P', Arial, Helvetica, sans-serif;
	--font-light: 400;
	--font-medium: 500;
	--font-bold: 700;

	/* Sizes */
	--max-width: 1200px;
	--header-height: 66px;
}

/* -> Reset */
html {
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	text-decoration: none;
	list-style: none;
	font-family: var(--font-primary);
}

body {
	width: 100%;
	font-family: var(--font-primary);
	overflow-x: hidden;
	color: var(--primary-text);
	background-color: var(--bg-color-primary);
}

/* -> Header */
header {
	width: 100%;
	height: var(--header-height);
	position: fixed;
	top: 0;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: var(--bg-color-secondary);
}

.header-logo {
	flex: 1;
}
.header-logo img {
	width: 50px;
	height: 50px;
}

nav ul {
	display: none;
	flex-direction: column;
	list-style: none;
}

nav li {
	margin: 0.5rem 0;
}

nav a {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: var(--first-text);
}
nav a:hover {
	font-weight: var(--bold);
	color: var(--primary-color);
}

/* Burger menu */
.menu-btn {
	width: 70px;
	height: 70px;
	display: block;
	position: relative;
	text-align: center;
	font-size: 2.5rem;
	line-height: 70px;
	cursor: pointer;
	color: var(--primary-color);
}

.menu-toggle {
	display: none;
}
button .menu-btn {
	opacity: 0;
}

.menu-toggle:checked + .menu-btn + ul {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	display: flex;
	text-align: center;
	z-index: 999;
	background-color: var(--bg-color-secondary);
}
.menu-toggle:checked + .menu-btn {
	color: var(--primary-text);
}

/* -> Menu */

/* -> Hero Section */
#hero {
	background-image: url(assets/img/hero-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* background-attachment: fixed; */
}
.hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 70px 20px;
	text-align: center;

	background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
	width: 90%;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-content a:hover {
	border: 1px solid var(--white-color);
}

.hero-content h1 {
	margin-bottom: 20px;
	line-height: normal;
	font-size: 7.5vw;
	font-family: var(--font-primary);
}

.hero-content a {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	color: var(--primary-text);
	background-color: var(--bg-color-secondary);
}

/* -> About Us Section */
#about {
	min-height: 100vh;
	padding: calc(var(--header-height) + 10px) 50px 10px 10px;
	text-align: center;
}

.about-title {
	font-size: 1.5rem;
}

.about-content {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	color: var(--white-color);
}

.about-content p {
	margin-bottom: 20px;
	font-size: 1rem;
	line-height: 1.5;
}

.about-content ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-content ul li {
	margin: 10px;
	text-align: center;
}

/* -> Products Section */
#products {
	padding: calc(var(--header-height) + 10px) 50px 10px 10px;
	text-align: center;
}
.products-title {
	font-size: 1.5rem;
}

.product-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
	width: 90%;
	margin: 15px 0;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	background-color: var(--bg-color-secondary);
	color: var(--white-color);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.card:hover {
	transform: translateY(-10px);
}

.card img {
	width: 100%;
	max-width: 400px;
	height: auto;
	object-fit: cover;
	margin-bottom: 10px;
	border-radius: 10px;
}

.card h3 {
	font-size: 1.4rem;
	line-height: 1.7rem;
	margin-bottom: 10px;
	font-family: var(--font-secondary);
}

.card p {
	font-size: 1.2rem;
	margin-bottom: 15px;
	font-weight: bold;
	color: var(--primary-color);
}

.card-btn {
	padding: 12px 25px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	color: var(--white-color);
	background-color: var(--bg-color-third);
	transition: background-color 0.3s ease, color 0.3s ease;
}
.card-btn:hover {
	border: 1px solid var(--primary-text);
	color: var(--primary-color);
	background-color: var(--bg-color-secondary);
}

/* -> Contact Section */
#contact {
	padding: calc(var(--header-height) + 10px) 50px 10px 10px;
	text-align: center;
}
.contact-title {
	font-size: 1.5rem;
}

.contact-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group {
	margin: 10px 0;
	text-align: left;
}

label {
	font-weight: bold;
}

input[type='text'],
input[type='email'],
textarea {
	width: 100%;
	padding: 8px;
	margin-top: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.contact-btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 0.5rem;
	border: 1px solid transparent;
	font-size: 1rem;
	cursor: pointer;
	color: var(--white-color);
	background-color: var(--bg-color-secondary);
}

.contact-btn:hover {
	border: 1px solid var(--primary-text);
	color: var(--primary-color);
	background-color: var(--bg-color-third);
}
.contact-info {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.contact-info p {
	margin-bottom: 10px;
	font-size: 1rem;
}
.responsive-iframe-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
	height: 0;
	overflow: hidden;
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.responsive-iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/* -> Footer */
.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	text-align: center;
	background-color: var(--bg-color-third);
}

.container-social-and-copy {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 20px 10px 20px 10px;
}

.social-media-icon {
	display: flex;
	gap: 10px;
	padding: 5px 20px 10px 0px;
}
.social-media-icon a {
	filter: invert(1);
}

.row-copyright {
	padding: 10px;
	font-weight: 600;
	color: var(--white-color);
}
.row-copyright span {
	font-weight: 900;
}

/* -> Media Queries Tablets */
@media (min-width: 768px) {
	/*  Header */
	nav ul {
		display: flex;
		flex-direction: row;
	}

	nav ul li {
		margin: 0 0.5rem;
	}

	.menu-btn {
		display: none;
	}

	/*  Hero Section */

	.hero-content a {
		padding: 15px 30px;
		font-size: 1.5rem;
	}

	/*  About Section */
	.about-title {
		font-size: 1.8rem;
	}

	.about-content ul {
		flex-direction: row;
	}

	/*  Products Section */
	.products-title {
		font-size: 1.8rem;
	}
	.product-cards {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.card {
		width: 45%;
		margin: 15px 1.5%;
	}

	.card img {
		max-width: 100%;
	}

	.card h3 {
		font-size: 1.6rem;
	}

	.card p {
		font-size: 1.4rem;
	}

	.contact-info {
		text-align: left;
	}

	/*  Contact Section */
	.contact-title {
		font-size: 1.8rem;
	}

	/* footer */
	.footer {
		padding: 10px 20px;
	}
	.container-social-and-copy {
		flex-direction: row;
		align-items: center;
	}
}
/* -> Media Queries Desktop */
@media (min-width: 1024px) {
	/*  Header */
	nav ul li {
		font-size: 1.2rem;
	}

	/*  Hero Section */
	.hero-content a {
		padding: 20px 40px;
		font-size: 1.8rem;
	}

	/*  About Section */
	.about-title {
		font-size: 2.6rem;
		padding-bottom: 20px;
	}

	/*  Products Section */
	.products-title {
		font-size: 2.6rem;
		padding-bottom: 20px;
	}
	.card {
		width: 30%;
		margin: 15px 1.5%;
	}

	.card h3 {
		font-size: 1.8rem;
	}

	.card p {
		font-size: 1.6rem;
	}

	/*  Contact Section */
	.contact-title {
		font-size: 2.6rem;
		padding-bottom: 20px;
	}
}
